$marromClaro:#d2b48b; 
$marromMedio:#8B4513;
$marromEscuro:#654321;
$marromChocolate:#7B3F00;
$begeEscuro: #8B7355;
$canela: #D2691E;
$terraQueimada: #E97451;
$sienaNatural: #A0522D;
$marromAreia: #DEB887;
$castanhoEscuro: #5D4037;
